<div class="homepage-container">
    <div class="dark-bg"></div>
    <%- include ('./partials/navigation.ejs') %>
    <div class="form-container">
        <div class="container-homepage card card-body mt-5">
            <h1>BLOG IT!</h1>
            <a class="btn btn-dark" href="/users/register">REGISTER</a>
            <a class="btn btn-dark"href="/users/login">LOGIN</a>
        </div>
    </div>

    
</div>